# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/

# Log files and databases
*.log
*.sqlite3

# Test output
*.pytest_cache/
coverage/

# IDE-specific files
.vscode/
.idea/
*.swp
